.patient-mosaic {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.patient-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.patient-info {
    flex: 1;
}