.patient-card {
    border: 4px solid #88b7e9;
    border-radius: 8px;
    height: 150px;
    padding: 40px;
    padding-left: 5%;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: height 0.2s;
    display: flex;
    align-items:center;
  }
  
  .patient-card:hover {
    height: 200px;

  }
  
  .patient-header {
    display: flex;
  }
  
  .patient-number {
    font-size: 2rem;
    font-weight: bold;
    color: #007BFF; /* Blue color */
    margin-right: 10px;
  }
  
  .patient-name {
    font-size: 2rem;
    font-weight: bold;
    color: #333; /* Dark gray color */
  }
  
  .patient-details {
    font-size: 1.5rem;
    color: #555; /* Light gray color */
    margin-top: 10px;
    float: left; 
  }
  
  