.patient-card {
    border: 4px solid #88b7e9;
    border-radius: 8px;
    height: 150px;
    padding: 1%;
    width: 42%;
    margin-bottom: 30px;
    margin-right: 5.04%;

    cursor: pointer;

    background-color: #C9E6F7;
    float: left;
}

.patient-card.dark-mode {
   border: 4px solid #418CDC;
   background-color: #A9CFEF;
}

.patient-card.dark-mode:hover{
  border-width: 7px;
  border-color: #1C5A9B;
  background-color: #75B3E6;
}

.patient-card:hover {
    border-width: 7px;
    border-color: #B8DEF4;
    background-color: #A9CFEF;
}
  
.patient-number {
    padding: 0;
    margin-top: 20px;
    width: 35%;

    font-size: 130px;
    font-weight: bold;
    color: #007BFF; /* Blue color */
    margin-right: 10px;

    text-align: right;
    vertical-align: middle;
    float: right;
}

.patient-name {
    padding: 0;
    margin-top: 10px;
    width: 60%;
    font-size: 80px;
    font-weight: bold;
    color: #333; /* Dark gray color */

    text-align: left;
    float: left;
}

.patient-name.dark-mode {
  color: white;
}
  
.patient-details {
    font-size: 1.5rem;
    color: #555; /* Light gray color */
    margin-top: 30px;
    float: left; 
}

.patient-details.dark-mode {
  color: rgb(194, 194, 194);
}
  