.patient-mosaic {
    display: flex;
    flex-direction: column;
    width: 30%;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 18pt;
}

.patient-mosaic p {
    margin: 0px;
    text-align: left;
}

.patient-mosaic div {
    display:flex;
    align-items: center; 
    padding: 30px;
    font-size: 20pt;
    border: 2px solid #000;
    border-radius: 10px;
}

#patient-name {
    height: 100px;
    width: 90%;
    font-size: 40pt;
    border: 2px solid #000;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#drugs {
    height: 100px;
    font-size: 40pt;
    font-size: 18pt;
}

#drugName {
    border: 2px solid black;
    border-radius: 10px 0px 0px 10px;
    font-size: 20pt;
    outline:none;
    width:70%
}

.submit {
    font-size: 20pt;
    border: 2px solid black;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    box-shadow: none;
    width: 20%
}

.patient-info {
    flex: 1;
}

.triplet {
    border: 2px solid #000;
    border-radius: 10px;
    border-color: black;
    padding: 30px;
    flex: 1;
    transition: flex 300ms linear;
}

.triplet-container {
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 10px;
    margin-left: 5%;
    margin-right: 5%;
}
.hide {
    border: none;
    flex: 0.000001;
    padding: 0px;
}
.hide * {
    display: none;
}

table {
    border: 2px solid black;
    width: 90%;
}

h2 {
    margin-top: 0px;
    font-size: 20pt;
}