.main{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #9DD1F1;
    color: white;
}

.titleName{
    padding-left: 20px;
    padding-top: 20px;
    margin: 0;
    margin-bottom: 5px;
    width: 100%;
    height: 110px;
    background-color: #508AA8;

    font-size: 70px;
    text-align: left;
}

.topBar{
    margin-left: 130px;
    width: 100%;
    height: 60px;

    font-size: 40px;
    overflow: hidden;
}

.listItem {
    padding-left: 130px;
    margin: 0;
    list-style: none;
    float: left;
    color: black;
    transition: background-color 0.3s; /* Add a transition effect for smooth hover */
}
  
.listItem:hover {
    background-color: black;
    color: white; /* Change text color on hover for better contrast */
}